
@{
    ViewData["Title"] = "Credit";
}

<h1 class="mt-5">Credit Where Credit is Due</h1>

<div class="col-md-8">
    <h2>List of Hymns</h2>

    <p>We used a JSON file from here: <a href="https://github.com/pseudosavant/LDSHymns" target="_blank">https://github.com/pseudosavant/LDSHymns</a></p>

    <h2>Background Image</h2>

    <p>We edited an image found here: <a href="https://www.churchofjesuschrist.org/media-library/images/bread-and-water-351508?lang=eng&clang=ase" target="_blank">https://www.churchofjesuschrist.org/media-library/images/bread-and-water-351508?lang=eng&clang=ase</a></p>

    <h2>Chapel Image on Printed Program</h2>

    <p>Stolen from Pinterest, but allegedly it is from JennySmith.net</p>
</div>

